<link rel="stylesheet" type="text/css" href="style.css">
<p>
	An outpatient (or out-patient) is a patient who is hospitalized for less than 24 hours. Even if the patient will not be formally admitted with a note as an outpatient, they are still registered, and the provider will usually give a note explaining the reason for the service, procedure, scan, or surgery, which should include the names and titles and IDs of the participating personnel, the patient's name and date of birth and ID and signature of informed consent, estimated pre- and post-service time for a history and exam (before and after), any anesthesia or medications needed, and estimated time of discharge absent any (further) complications. Treatment provided in this fashion is called ambulatory care. Sometimes surgery is performed without the need for a formal hospital admission or an overnight stay. This is called outpatient surgery. Outpatient surgery has many benefits, including reducing the amount of medication prescribed and using the physician's or surgeon's time more efficiently. More procedures are now being performed in a surgeon's office, termed office-based surgery, rather than in a hospital-based operating room. Outpatient surgery is suited best for healthy patients undergoing minor or intermediate procedures (limited urologic, ophthalmologic, or ear, nose, and throat procedures and procedures involving the extremities).


</p>